:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --thirdy-color: #fff;
  --hover-link-color: #2196f3;
  --logo-color: #2196f3;
  --gray: #2f303a;
  --light-gray: #ececec;
  --border-portfolio: #eeeeee;
  --btn-background: #f5f4fa;
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  letter-spacing: 0.03em;
}

/* Utils */

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0px;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0px;
}
.text-center {
  text-align: center;
}

.header.border {
  border-bottom: 1px solid var(--light-gray);
}

.no-padding {
  padding-top: 0px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
}

.logo-color {
  color: var(--logo-color);
}

.header-navigation-list {
  display: flex;
  padding-left: 0px;
}

.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.link-navigation {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-color);
  font-weight: 500;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.contacts-list:not(:last-child) {
  margin-right: 50px;
}

.link-contacts {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-color);
  font-weight: 500;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link:focus,
.link:hover {
  color: var(--hover-link-color);
}

.link-navigation.is-active {
  color: var(--hover-link-color);
  /* border-bottom: 4px solid var(--hover-link-color);
  border-radius: 2px; */
}

.order.section {
  background-color: var(--gray);
}

.order-title {
  text-align: center;
  margin-bottom: 40px;

  color: var(--thirdy-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order-btn {
  display: block;
  margin: auto;
  padding: 0px;
  width: 216px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: var(--secondary-font-size);
  line-height: 1.88;
  color: var(--thirdy-color);
  letter-spacing: 0.06em;
  background: var(--hover-link-color);
  border-width: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  border-radius: 4px;
  cursor: pointer;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-list {
  display: flex;
}

.benefits-item:not(:last-child) {
  padding-right: 30px;
}

.benefits-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-text {
  font-size: var(--primary-font-size);
  line-height: 1.71;
  color: var(--secondary-color);
}

.doit {
  margin-top: 0px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
}

.doit-subtitle,
.team-subtitle {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.doit-item:not(:last-child),
.team-item:not(:last-child) {
  margin-right: 30px;
}

.doit-list,
.team-list {
  display: flex;
}

.team-item {
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-item img {
  margin-bottom: 30px;
}

.team {
  background-color: #f5f4fa;
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: 1.19;
}

.team-profession {
  padding-bottom: 30px;
  font-size: var(--secondary-font-size);
  line-height: 1.19;
  color: var(--secondary-color);
}

.footer {
  background-color: var(--gray);
}

.footer .logo {
  display: block;
  color: var(--thirdy-color);
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress {
  display: inline-block;
  padding-bottom: 60px;
  padding-left: 0px;
}

.footer-contacts {
  padding-bottom: 60px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: var(--primary-font-size);
  line-height: 1.71;
  color: var(--thirdy-color);
  font-style: normal;
}

.footer-map {
  color: var(--thirdy-color);
}

.footer-link {
  color: var(--secondary-color);
}

/*---------Portfolio Style--------------*/
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  display: block;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: 1.63;
  color: var(--primary-color);
  background: var(--btn-background);
  border-width: 0;
  border-radius: 4px;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--hover-link-color);
  color: var(--thirdy-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  border: 1px solid var(--border-portfolio);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-title {
  padding-top: 20px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.portfolio-text {
  padding-top: 4px;
  padding-bottom: 20px;
  padding-left: 24px;
  font-size: var(--secondary-font-size);
  line-height: 1.88;
  color: var(--secondary-color);
}

/* Стилі нижче були зроблені щоб попрактикуватись */

/* Змінюємо синій на чорний в header*/

.header-navigation > .logo:hover .logo-color {
  color: var(--primary-color);
}

/* Змінюємо чорний в header, білий в footer на синій   */
.logo:hover {
  color: var(--logo-color);
}

/* Меняем синій на білий footer */

.footer > .logo:hover > .logo-color {
  color: var(--btn-background);
}
